<% provide(:title, 'About Us') %>

</br>
<h2>About Me</h2>
<div class="row">
	<div class="span3">
			<%= image_tag 'me_300.jpg', alt: 'Theory', class: 'img-rounded' %>
	</div>
	<div class="span9">
		<p>
		I am a fully qualified singing teacher with over 10 years teaching experience and 18 years performance experience. I believe strongly that everyone has a right to sing and have the enjoyment of music in their lives. 
		</p>
		<p>
		I offer 1:1 singing lessons for all ages and abilities and enjoy very much helping people to find confidence with their voice. Everybody can sing and I feel privileged to have the opportunity to be able to introduce and encourage singing and music into people’s lives.  The benefits of singing are endless - both physically and psychologically and I have a personal interest in various projects that are researching these benefits further. I have a strong ongoing commitment to developing my skills and knowledge of the human voice. 
		</p>
		<p>
		I am a member of the Musicians Union and Incorporated Society of Musicians and hold an Enhanced DBS Certificate.  
		</p>
		<p>
			I am also proud to be a qualified Lifemusic Practitioner and a member of  Sound Sense, the professional association which promotes music making in the community. 
		</p>
		<p>
		My specialised area of music is jazz and blues but I love to sing all genres of music. I dedicate myself to discovering new music to study and share with others. Currently, I find the most popular songs that people request to hear are musical theatre, classical and easy listening, both contemporary and traditional. I perform at a variety of venues for different occasions including residential homes, birthday parties, christmas celebrations, fundraisers and weddings. 
		</p>
		<%= link_to (image_tag 'ISM_Member_logo.jpg', alt: 'ISM_Member_logo', size: '150x109'), 'http://www.ism.org', target: '_blank', class: 'pull-right' %>
	</div>
</div>