<% provide(:title, 'Singing Clinics') %>
</br>
<h2>Singing Clinics</h2>

<p>
These are available to current and occasional clients who wish to spend some time looking at a specific set of music or preparing for performance/s they may be involved in. During the time together, I will provide voice guidance, both technical and musical, as well as spending some time looking at vocal health. 
</p>
<p>
These are arranged on a bespoke basis. Please <%= link_to "contact me", contact_path %> for further details and prices. 
</p>



	