<% provide(:title, 'Events') %>
</br>
<h2>Events</h2>

<p>
I perform regularly for residential homes, at weddings and parties and love to perform songs that people love to hear and sing along to if they wish!
</p>
<p>
My repertoire includes both traditional and contemporary songs, ranging from folk song, classical, jazz, blues, musical theatre all the way through to pop.
</p>
<p>
My performance experience includes performing in venues ranging from theatres, cathedrals, churches, private parties, pubs and both outside and under cover wedding ceremonies. 
</p>
<p>
Fees are highly competitive and are based on set duration and location. Please <%= link_to "contact me", contact_path %> to discuss your individual needs. 
</p>



	