<% provide(:title, 'Expectations') %>
</br>
<h2>What happens in a lesson?</h2>

<p>
	The lessons will always cover a holistic view of the singing voice, where posture, breathing technique, vocal exercises, tone, vowel and projection technique will be covered. There will be a strong emphasis on expression and interpretation of the music being studied, as well as aural skills and musical theory, both vital elements of a singer’s musical journey. Performance skills and microphone technique are also covered. The music that we work with will come from a variety of genres, to enable you as a singer to find your particular passion and to learn about using your voice in different ways.
</p>
</br>
<p>
    If you would like to take Graded examinations, I work with the Independent Contemporary Music Awards (ICMA) which have graded singing examinations in a number of different musical syllabuses, including contemporary vocals, musical theatre and pop vocals. The examiners with this board are dedicated to putting students at their ease and are experienced with particularly nervous students. Recital and Professional Diplomas are also available. For more information on this exam board, please visit <a href="http://www.ism.org">www.ism.org</a>.
</p>
</br>
<p>
    Alternatively, for students wishing to take their musical career further, the Trinity Guidlhall Examination Board has an internationally recognised set of Graded examinations, details of which can be found at <a href="http://www.trinitycollege.co.uk/">www.trinitycollege.co.uk</a>. 
</p>
</br>
<p>
    My students achieve excellent exam results and I pride myself in offering mobile as well as studio-based lessons. This means that there is the option to learn in the comfort of your own home. I provide the equipment available for the lesson; all that is asked is that we have a quiet space in which we can work. Alternatively, lessons can be held in my music studio based in Fareham, Hampshire.
</p>


	