<% provide(:title, 'Fees') %>
</br>
<h2>Fees</h2>

<p>
   The majority of lessons are weekly, although fortnightly lessons are available. 
</P>
<p class="label label-success">
SPECIAL STARTER OFFER:</br>
Pre-visit for FREE - please <%= link_to "contact me", contact_path %> for further details. 
</p>

<dl>
	<dt>30 Minute lessons</dt>
	<dd>£15 for studio lessons</dd>
	<dd>£16 for mobile lessons</dd> 
</dl>

<dl>
	<dt>45 Minute lessons</dt>
	<dd>£22 for studio lessons</dd>
	<dd>£23 for mobile lessons</dd>
</dl>

<dl>
	<dt>One hour lessons</dt>
	<dd>£28 for studio</dd>
	<dd>£29 for mobile</dd>
</dl>
<p class="label label-info">
Cancellation Fees
</p>
<p>
Lessons cancelled with at least 24 hours notice, half the fee will be payable</br>
Lessons cancelled with under 24 hours notice, the full fee will be payable 
</p>
<p>
NB: If a cancelled lesson can be rearranged for another time in the week, no cancellation fee will be applicable. 
</p>

	