</br>
<h1>Welcome to Abi Singing </h1>
<p>
	Thank you for visiting Abi Singing.
</p>

<p>
	I am a professional singer and qualified singing teacher based in the Portchester, Hampshire, area with 18 years of performing experience and over 10 years of teaching experience, covering all ages. I have a strong philosophy that  everyone has a right to sing and have the enjoyment of music in their lives.
</p>

<p>
	Lessons are offered on a 1:1  basis and are devised to suit you as an individual. The reasons for taking  lessons can vary; here are just a few:
</p>
	<ul>
		<li>Confidence building</li>
		<li>To develop vocal technique</li>
		<li>To enjoy different genres of music and  learn a variety of singing styles</li>
		<li>Academic attainment (to take grade examinations)</li>
		<li>Performance preparation</li>
		<li>Singing for pleasure</li>
	</ul>

<p>
	I also regularly perform at local residential homes, weddings, anniversaries and parties.
</p>


<p>
	Please feel free to look around the site or <%= link_to "contact me", contact_path %> if you would like further information.  

</p>

<p>
	Happy singing!
</p>


	<address>
		<strong>Abi - </strong>
	  	<%= link_to "abi@abisinging.co.uk", contact_path %>
	</address>

