<% provide(:title, 'Never too late') %>
</br>
<h2>Never too late</h2>

<p>
	Please remember it is never too late to learn a new skill. I have often heard the phrase said to me ‘I wish I could sing, but I can’t’. After talking further with people, I discover this is usually because they have been told by someone earlier in life that they ‘can’t’ or they compare themselves to others and believe their voice should remain behind closed doors (or in the shower!). Being afraid of singing is very common; the difference between other musical instruments and singing, is that the voice is an instrument that is a part of you, not something you carry about in a box. It is a very personal part of who you are. Whether you decide to take up singing lessons or not, please remember:
</p>
<p>
	<ul>
		<li>Everybody can sing.</li>
    	<li>Music is for everyone.</li>
    </ul> 
</p>

<p>
    I have a few students who are in their retirement and learning to find their singing voice - and loving doing so! So whether you would like lessons or are too afraid to sing along to the radio for fear of embarrassment, please try and open your voice - you may surprise yourself with how good it feels. 
</p>



	