<% provide(:title, 'Testimonials') %>
</br>
<h2>Testimonials</h2>
<blockquote>
<p>
We want to say a big thank you to Abigail who gave such a flawless performance at our wedding. She was professional from the moment we spoke to her,  throughout the rehearsals and during our ceremony. Abigail's singing was a real highlight for us and all our guests, so thanks for making our special day more perfect for us! We would recommend Abigail without hesitation, she was calm, relaxed, required little input and helped to put us at ease.
</p>
<br/>
<small> 
Jenny and Jon, London
</small>
</blockquote>
<div class="row-fluid">
	<div class="span12 pagination-centered">	
		<%= image_tag 'testimonial_01.jpg', alt: 'Testimonials', class: 'img-rounded' %>
	</div>
</div>
<br />
<blockquote class="pull-right">
<p>
Abi's performance during our wedding ceremony was astounding, she was really able to capture the emotion of the day and many of our guests commented on how moving her performance was.

From the day we first met Abi right up to and after our ceremony she has been professional, open and accommodating.

My wife and I would like to thank Abi again for helping to make our special day even more so.
</p>
<br />
<small> 
Jason and Gemma, Portsmouth
</small>
</blockquote>
<div class="row-fluid">
	<div class="span12 pagination-centered">	
	</div>
</div>
<blockquote>
<p>
Abi was recommended to me through my hairdresser, as I mentioned I was looking for a wedding singer. I contacted Abi and she came round and sang in my lounge, her voice was stunning, it made the hairs on my arms stand, my boyfriend was very impressed too so we agreed she would sing at our wedding.
</p>
<br />
<p> 
The wedding rehearsal came and Abi was there as promised practicing and doing her sound checks, even at the rehearsal her voice was just beautiful…then the day of the wedding came and I can honestly say Abi singing made my wedding day perfect…everyone was talking about how stunning and beautiful her voice was and how magical it made my wedding service. When she sang everyone stayed silent as they were just stunned by her voice…it was perfect.
</p>
<br />
<p>
I cannot say enough thank you’s to Abi, her voice is just beautiful and she is such a lovely person and very easy to deal with, which is great when you are arranging a wedding. Without her my wedding day wouldn’t have been half as beautiful as it was and it has definitely been a talking point since. I would recommend Abi to anyone..her voice is just stunning.
</p>
<br />
<small> 
Cheryl and Wayne, Hayling Island
</small>
</blockquote>
