<% provide(:title, 'Theory lessons') %>
</br>
<h2>Theory Lessons</h2>
<div class="row">
	
	<div class="span9">
<p>
I am happy to provide additional tutoring and guidance on the theory of music in separate lessons. 
</p>
<p>
When learning a new instrument, whatever it may be, people can sometimes feel daunted about also having to learn the skill of reading music, especially when this is completely new to them. 
</p>
<p>
If you would like extra help in this area please <%= link_to "contact me", contact_path %> to arrange bespoke sessions for you. 
</p>
<p>
The lessons can take place on a regular or ad-hoc basis,  in the comfort of your own home or in my studio.
</p>
</div>
<div class="span3">
		<%= image_tag 'Theory_Image.jpg', alt: 'Theory', class: 'img-rounded' %>
	</div>
</div>



	