<% provide(:title, 'Weddings') %>
</br>
<h2>Weddings</h2>


<div class="row">
	<div class="span3">
		<%= image_tag 'wedding_300.png', alt: 'Wedding', class: 'img-rounded' %>
	</div>
	<div class="span9">
<p>
I always feel very honoured to be able to help a couple celebrate their special day.  I strive to make the performance reflect who you are as a couple and as such I am happy to arrange music that you desire wherever possible. I can also offer a recommended list of suggestions for wedding music.
</p>
<p>
I understand how important a wedding day is for a couple and therefore I always include one or more consultations prior to the big day to go through the music and ensure everyone is happy with the final performance plans. 
</p>
<p>
I have experience in singing as part of the ceremony and in the evening receptions, so whether you require one song or a full set, please <%= link_to "contact me", contact_path %> so we can discuss your individual needs.
</p>
<p>
Fees are highly competitive, include consultations and are based on set duration and location. 
</p>
</div>
</div>



	