<% provide(:title, 'Contact Me') %>
</br>
<h2>Want to get in touch?</h2>

<p>Please fill out the form below and we'll get back to you as soon as possible.</p>
 
<%= render 'form', :inquiry => @inquiry %>
