<footer class="footer">
	<small>
		© 2015 <a href="">AbiSinging</a>
		by Abi Mann. All rights reserved.
	</small>
	<nav>
    <ul>
      <li><%= link_to "Useful Links", links_path %></li>
    </ul>
  </nav>
</footer>